language: common-lisp
sudo: true

os:
  - osx
  - linux

env:
  global:
    - PATH=~/.roswell/bin:$PATH
    #- ROSWELL_BRANCH=release
    - ROSWELL_INSTALL_DIR=$HOME/.roswell
  matrix:
    - LISP=abcl
    #- LISP=allegro
    #- LISP=cmucl
    - LISP=ccl-bin
    - LISP=ecl
    - LISP=sbcl-bin
    # allow_failures:
    #   - os: osx
    
# addons:
#   apt:
#     packages:
#       # it is required for some reason
#       # to install allegrocl and cmucl
#       # - libc6-i386
#       - maven

install:
  - curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then sudo apt-get install maven; else brew upgrade maven; fi

before_script:
  - ros --version
  - ros config
  - ros -e '(princ (lisp-implementation-type))
            (terpri)
            (princ (lisp-implementation-version))
            (terpri)
            (princ *features*)
            (terpri)'
  - if [[ $LISP == "sbcl-bin" ]]; then ros -e "(ql:quickload '(:alexandria :trivial-features :cl-reexport :cffi :trivial-download :trivial-extract))"; fi

script:
  - ros install prove
  - run-prove chenyi-test.asd

# notifications:
#   email:
#     on_success: always # default: change
#     on_failure: never # default: always
