language: common-lisp
sudo: false

env:
  global:
    - PATH=~/.roswell/bin:$PATH
    - ROSWELL_BRANCH=release
    - ROSWELL_INSTALL_DIR=$HOME/.roswell
  matrix:
    - LISP=sbcl-bin
    - LISP=ccl-bin
    - LISP=ecl
    - LISP=abcl
    - LISP=allegro
    - LISP=cmucl

addons:
  apt:
    packages:
      # it is required for some reason
      # to install allegrocl and cmucl
      - libc6-i386
      
install:
  - curl -L https://raw.githubusercontent.com/snmsts/roswell/$ROSWELL_BRANCH/scripts/install-for-ci.sh | sh

before_script:
  - ros --version
  - ros config
  - ros -e '(princ (lisp-implementation-type))
            (terpri)
            (princ (lisp-implementation-version))
            (terpri)
            (princ *features*)
            (terpri)'


script:
  - ros install prove
  - run-prove chenyi-test.asd
