language: common-lisp
sudo: true

env:
  global:
    - PATH=~/.roswell/bin:$PATH
    #- ROSWELL_BRANCH=release
    - ROSWELL_INSTALL_DIR=$HOME/.roswell
  matrix:
    - LISP=abcl
    #- LISP=allegro
    #- LISP=cmucl
    - LISP=ccl-bin
    - LISP=ecl
    - LISP=sbcl-bin
    
addons:
  apt:
    packages:
      # it is required for some reason
      # to install allegrocl and cmucl
      # - libc6-i386
      - maven

os:
  - osx
  - linux

install:
  - curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh

before_script:
  - ros --version
  - ros config
  - ros -e '(princ (lisp-implementation-type))
            (terpri)
            (princ (lisp-implementation-version))
            (terpri)
            (princ *features*)
            (terpri)'
  - ros -e "(ql:quickload '(:alexandria :trivial-features :cl-reexport :cffi :trivial-download :trivial-extract))"

script:
  - ros install prove
  - run-prove chenyi-test.asd
